body{
    background-color: #ffffff;
    padding: 10px 20px 0 10px;
}

.header{
    text-align: center;
    color: #012b72;
}

#recordingsList a{
    padding-bottom: 9px;
    font-weight: 400;
    text-decoration: none;
    color: #012b72;
    padding: 10px;
    float: right;
    padding-right: 245px;
}

.recordPanel{
    border: 1px solid #f3eaea;
    padding: 20px;
    margin: 10px;
}