<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" th:src="@{/websocket.js}"></script>
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.41/js/mui.min.js"></script>
    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{recorder.css}"/>
    <title>Saptarshi , Kavyashree</title>
</head>
<body>

    <div class="container">
        <h1 class="header">
            A system to generate Speech to text in Real Time
        </h1>
        <div class="mui-container-fluid recordPanel">
            <table width="100%">
              <tr style="vertical-align:middle;">
                <button class="mui-btn mui-btn--accemnt" disabled> Click on record and Speak.</button>
                <button class="mui-btn mui-btn--primary" id="recordButton">Record</button>
                <button class="mui-btn mui-btn--primary" id="stopButton" disabled>Stop</button>
                <button class="mui-btn mui-btn--accemnt" disabled id="timer"></button>
              </tr>
            </table>
          </div>
           <h3>Recordings</h3>
           <ol id="recordingsList"></ol>
    </div>
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Transcripts</th>
                    </tr>
                    </thead>
                    <tbody id="greetings">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/recorder.js}"></script>
</body>
</html>